<div class="container">
  <%= render "shared/heading" %>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="box-container">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-top">
                <div class="form-top-left">
                  <h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email Notification</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-container">
                <%= form_tag set_email_notifications_admin_surveys_path, role: "form", class: "form-horizontal", id: "reminder-form" do %>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Subject:</label>
                    <div class="col-sm-10">
                      <%= text_field_tag "subject", @email_notification[:subject], class: "form-control", placeholder: "Subject" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Body:</label>
                    <div class="col-sm-10">
                      <%= text_area_tag "body", @email_notification[:body], class: "form-control", rows: 8 %>
                    </div>
                  </div>
                  <div class="form-group" id="reminderbox">
                    <label class="control-label col-sm-2" for="pwd">Reminder:</label>
                    <div class="col-sm-10">
                      <!-- <div class="col-sm-8 "> -->
                      <div>
                        <span class="col-sm-6 reminderFirst">
																        <%= text_field_tag "reminders[]", "#{@email_notification[:reminders].present? ? @email_notification[:reminders][0].strftime('%m/%d/%Y') : nil }", class: "form-control mar5 datepick", placeholder: "MM/DD/YYYY", readonly: true %>
																        </span>
                        <%= link_to  "javascript:void(0)", id: "addNewReminder", class: "col-sm-3" do %>
                          <span class="glyphicon glyphicon-plus"></span>Add New
                          <% end %>
                      </div>
                      <div id="newReminderDiv" class="col-sm-12">
                        <% if @email_notification[:reminders].present? && @email_notification[:reminders].size > 1 %>
                          <% for index in 1...@email_notification[:reminders].size %>
	                          <div class='col-sm-12'>
	                            <span class='col-sm-6'>
									        			<%= text_field_tag "reminders[]", "#{@email_notification[:reminders][index].strftime('%m/%d/%Y') }", class: "form-control mar5 datepick", placeholder: "MM/DD/YYYY", readonly: true %>
										        	</span>
										        	<a class="col-sm-3 removeNewReminder" href="javascript:void(0)">
										        	<span class="glyphicon glyphicon-trash"></span>Remove</a>
	                          </div>
	                        <% end %>
                        <% end %>
                      </div>
                      <!-- </div> -->
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-default btn-reminder">Submit</button>
                  </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
