<div class="container">
  <div class="admin-dashboard">
		<h2>Import Survey</h2>
		<%= form_tag admin_surveys_path, multipart: true do %>
		  <% if  @survey_errors.present? %>
				<div class="col-md-12 error-msg-tb">
				  <table class="table table-bordered">
					  <thead>
				      <tr>
							  <th>Row</th>
							  <th>Message</th>
							</tr>
						</thead>
						<tbody>
					  <% @survey_errors.each do |errors|%>
					    <tr>
						    <td><strong><%= errors[:row]%></strong></td>
						    <td><span>	<%= errors[:error_message].join("<br/>").html_safe%> </span></td>
						  </tr>
						<% end %>
						</tbody>
				  </table>
			  </div>
		  <% end %>
		  <div class="row" %>
		    <%= file_field_tag :file, class: "file-upload-field" %>
		    <%= submit_tag "Import", class: "btn btn-primary file-submit" %>
			</div>
		<% end %>
	</div>	
</div>
<%= link_to "User Surveys", user_surveys_admin_surveys_path %><br>
<%= link_to "Email Notification", email_notification_admin_surveys_path %>

<!-- admin_surveys_path admin_dashboards_path -->