<div  class="container">
	<%= render "shared/heading" %>
  <div class="tiles borderdevider">
    <div class="circle"> <span class="glyphicon glyphicon-import iconglyphicon" aria-hidden="true"></span></div>
    <h3>Import Survey</h3>
    <%= form_tag admin_surveys_path, multipart: true do %>
		  <% if  @survey_errors.present? %>
				<div class="col-md-12 error-msg-tb">
				  <table class="table table-bordered">
					  <thead>
				      <tr>
							  <th>Row</th>
							  <th>Message</th>
							</tr>
						</thead>
						<tbody>
					  <% @survey_errors.each do |errors|%>
					    <tr>
						    <td><strong><%= errors[:row]%></strong></td>
						    <td><span>	<%= errors[:error_message].join("<br/>").html_safe%> </span></td>
						  </tr>
						<% end %>
						</tbody>
				  </table>
			  </div>
		  <% end %>
		  <div class="row" %>
		    <%= file_field_tag :file, class: "file-upload-field" %><br /><br />
		    <%= submit_tag "Import", class: "btn file-submit" %>
			</div>
    <% end %>
  </div>
  <div class="tiles borderdevider">
  	<%= link_to user_surveys_admin_surveys_path do %>
	    <div class="circle"> 
	  		<span class="glyphicon glyphicon-user iconglyphicon" aria-hidden="true"></span>
			</div>
	    <h3>User Surveys</h3><br>
    <% end %>
  </div>
	<%= link_to email_notification_admin_surveys_path do %>
    <div class="tiles">
      <div class="circle"> <span class="glyphicon glyphicon-envelope iconglyphicon" aria-hidden="true"></span></div>
   		<h3>Email Notification</h3>
    </div>
  <% end %>
</div>