<!DOCTYPE html>
<html>
  <head>
    <title>Access Review Management Tool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js ' %>
    <%#= javascript_include_tag '//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %>
    <%= javascript_include_tag '//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js' %>
    <%= javascript_include_tag 'jquery.scrollex.min.js' %>
    <%= javascript_include_tag 'jquery.scrolly.min.js' %>
    <%= javascript_include_tag 'skel.min.js' %>
    <%= javascript_include_tag 'jquery.scrolly.min.js' %>
    <%= javascript_include_tag 'jquery.scrolly.min.js' %>
    <%= javascript_include_tag "application" %> 
  </head>

  <body>
    
    <%= yield %> 

 <!-- <div id="loadModal"></div> -->
  </body>
</html>
